/* Блок скрытый контент */
/* Позволяет спрятать текст от глаз, но оставить его доступным для роботов и поисковиков */

.visually-hidden {
  position: absolute; /* Вырываю элемент из обычного порядка страниц */
  width: 1px; /* Схлопываю до размера одной точки */
  height: 1px; /* Схлопываю до размера одной точки */
  margin: -1px; /* Убираю любые внешние отступы */
  border: 0; /* Убираю рамки */
  padding: 0; /* Убираю внутренние отступы */
  white-space: nowrap; /* Запрещаю перенос текста на новую строку */
  clip-path: inset(100%); /* Обрезаю всё содержимое внутри */
  clip: rect(0 0 0 0); /* Старый способ обрезки для совместимости */
  overflow: hidden; /* Скрываю всё, что вылезло за границы 1 пикселя */
}

/* Блок глобальные настройки */
/* Склад констант, чтобы менять цвета и шрифты в одном месте для всего сайта */

:root {
  --font-main: "Inter", sans-serif; /* Основной шрифт проекта */
  --text-dark: #1c1c1c; /* Самый темный цвет для заголовков */
  --text-grey: #555555; /* Серый цвет для обычного текста */
}

/* Блок страница  */
/* Базовые настройки для всего видимого пространства сайта */
body {
  font-family: var(--font-main); /* Подключаю шрифт Inter */
  background: #ffffff; /* Белый фон страницы */
  min-width: 1440px; /*  Не дает сайту сжиматься меньше макета и убирает «дырки» в фоне */
}

/* Блок сброс стилей */
/* Убираю стандартные настройки браузера, чтобы верстка везде была одинаковой */
* {
  margin: 0; /* Обнуляю внешние отступы всех элементов */
  padding: 0; /* Обнуляю внутренние отступы всех элементов */
  box-sizing: border-box; /* Считаю размеры блоков вместе с рамками и отступами */
}

/* Блок шапка HEADER */
/* Настройка внешнего вида всей верхней панели */

.header {
  background: linear-gradient(
    90deg,
    #fedd2c 0%,
    #f9c201 100%
  ); /* Желтый градиент слева направо */
  width: 100%; /* Растягиваю фон шапки на весь экран */
}

/* Блок контенер шапки  */
/* Выравнивает содержимое шапки по центру и задаёт внутренние отступы */

.header__container {
  display: flex; /* Включаю режим гибкого контейнера */
  flex-direction: row; /* Выстраиваю элементы в ряд */
  justify-content: space-between; /* Максимально расталкиваю элементы к краям */
  align-items: center; /* Выравниваю все элементы ровно по центру высоты */
  padding: 16px 64px; /* Отступы внутри */
  max-width: 1440px; /* Фиксированная ширина шапки по макету */
  height: 100%; /* Строгая высота шапки */
  margin: 0 auto; /* Центрирую весь блок шапки на экране */
  box-sizing: border-box; /* Паддинги не раздуют блок больше 1440 */
}

.header__logo-link {
  line-height: 0; /* Чтобы ссылка не добавляла лишний отступ под логотипом */
}

/* Блок логотип */
/* Задаёт размеры картинки логотипа */

.header__logo {
  width: 137px; /* Ширина логотипа */
  height: 22px; /* Высота логотипа */
  flex: none; /* Запрещаю логотипу сжиматься или растягиваться */
  display: block; /* Что бы картинка внутри ссылки вела себя предсказуемо */
}

/* Блок навигация */
/* Группирую ссылки меню и задаю расстояние между ними */

.header__nav {
  display: flex; /* Делаю блок ссылок гибким */
  flex-direction: row; /* Ссылки идут в ряд */
  align-items: center; /* Центрирую ссылки по вертикали */
  gap: 24px; /* Расстояние между ссылками меню */
  flex: none; /* Фиксирую размер блока навигации */
}

/* Блок список меню */
/* Убираю стандартные точки списка и превращаю его в ряд */

.header__menu-list {
  display: flex; /* Список становится в один ряд */
  list-style: none; /* Убираю стандартные маркеры списка */
  gap: 24px; /* Расстояние между пунктами <li> */
}

/* Блок ссылки меню */
/* Оформляю внешний вид текста ссылок */

.header__menu-link {
  text-decoration: none; /* Убираю стандартное подчеркивание ссылок */
  font-weight: 600; /* Делаю шрифт полужирным */
  font-size: 16px; /* Размер шрифта по макету */
  line-height: 24px; /* Межстрочный интервал для читаемости */
  color: var(--text-grey); /* Беру серый цвет из переменных */
}

/* Блок контакты в шапке */
/* Выстраиваю телефон и время работы друг под другом */

.header__contacts {
  display: flex; /* Делаю блок гибким */
  flex-direction: column; /* Выстраиваю элементы по горизонтали  */
  justify-content: center; /* Центрирую содержимое по высоте */
  align-items: flex-end; /* Прижимаю текст к правому краю */
  padding: 0px; /* Обнуляю лишние отступы */
  width: 188px; /* Ширина блока под контакты */
  height: 40px; /* Высота блока */
  font-style: normal; /* Убираю курсив, который дает тег address по умолчанию */
  margin: 0; /* Обнуляю внешние отступы */
  gap: 0px; /* расстояние */
  transform: translate(1px, 0px);
}

/* Блок номер телефона */

.header__phone {
  width: 173px; /* Ширина ссылки с номером */
  height: 24px; /* Высота строки */
  font-family: "Inter", sans-serif; /* Основной шрифт */
  font-weight: 600; /* Полужирное начертание */
  font-size: 18px; /* Крупный размер для номера */
  line-height: 24px; /* Высота строки текста */
  color: #555555; /* Темно-серый цвет */
  text-decoration: none; /* Убираю подчеркивание */
  display: block; /* Делаю ссылкой-блоком для кликабельности */
  letter-spacing: normal; /* Немного раздвигаю буквы */
}

/* Блок время работы  */

.header__work-time {
  width: 188px; /* Ширина строки времени */
  height: 16px; /* Высота строки */
  font-family: "Inter", sans-serif; /* Указываю конкретный шрифт для этого блока */
  font-weight: 400; /* Обычное начертание */
  font-size: 12px; /* Мелкий шрифт для второстепенной информации */
  line-height: 16px; /* Высота строки */
  color: #555555; /* Серый цвет */
  display: block; /* Занимаю всю ширину строки */
  letter-spacing: normal; /* Минимальный межсимвольный интервал */
}

/* Блок секция меню */
/* Настройка общего контейнера для списка блюд */
.menu {
  width: 1440px; /* Фиксированная ширина секции */
  margin: 0 auto; /* Центрирую секцию на странице */
  padding: 32px 64px; /* Внутренние отступы от краев */
}

/* Блок заголовок меню */

.menu__title {
  font-weight: 600; /* Очень жирное начертание  */
  font-size: 40px; /* Крупный размер заголовка */
  line-height: 48px; /* Интервал между строками */
  color: #1c1c1c; /* Черный цвет */
  margin-top: 0px;
  margin-left: -2px; /* Микро-отступ слева для визуального выравнивания */
  margin-bottom: 32px; /* Отступ снизу до карточек */
}

/* Блок сетка карточек */

.menu__grid {
  display: flex; /* Выстраиваю карточки в ряд */
  flex-direction: row; /* Направление ряда — горизонтальное */
  list-style: none; /* Убираю точки списка <ul> */
  gap: 32px;
}

/* Блок карточка блюда  */
/* Картинка, скругления и позиционирование */

.card {
  position: relative; /* База для абсолютных элементов внутри градиента */
  display: flex; /* Позволяет управлять текстом внутри */
  flex-direction: column; /* Контент внутри заголовока идет сверху вниз */
  justify-content: flex-end; /* Выталкиваю название блюда в самый низ карточки */
  padding: 16px; /* Отступ текста от краев карточки */
  width: 304px; /* Фиксированный размер квадрата */
  height: 304px; /* Фиксированный размер квадрата */
  border-radius: 16px; /* Скругление углов карточки */
  overflow: hidden; /* Обрезаю картинку по скругленным углам */
  text-decoration: none; /* Убираю подчеркивание у ссылки-карточки */
  background-size: cover; /* Картинка полностью заполняет фон без искажений */
  background-position: center; /* Центрирую изображение фона */
  isolation: isolate; /* Создаю чистый слой, чтобы градиент не мешал тексту */
}

/* Блок градиент  */
/* Создаю затемнение снизу, чтобы белый текст читался на любом фоне */

.card::after {
  content: ""; /* Обязательно для создания псевдоэлемента */
  position: absolute; /* Накладываю поверх карточки */
  inset: 0; /* Растягиваю на всю площадь от края до края */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    /* Сверху полностью прозрачно */ rgba(0, 0, 0, 0.5) 100%
      /* Снизу затемнение на 50% */
  );
  z-index: 0; /* Слой градиента под текстом */
}

/* Блок текст карточки в нутри  */

.card__title {
  position: relative; /* Чтобы z-index заработал */
  z-index: 1; /* Поднимаю текст выше градиента, чтобы он был виден */
  font-weight: 600; /* Полужирный шрифт */
  font-size: 24px; /* Размер названия блюда */
  line-height: 32px; /* Высота строки текста */
  color: #ffffff; /* Чисто белый цвет текста */
}

/* Блок фоновые картинки */
.card_pizza {
  background-image: url("./images/img-pizzas.webp");
}
.card_soups {
  background-image: url("./images/img-soups.webp");
}
.card_hot {
  background-image: url("./images/img-hot-dishes.webp");
}
.card_salads {
  background-image: url("./images/img-salads.webp");
}
